@import "../shared/mixins.scss" ;

.notfound-container {
    @include container-main;
    @include mars-background;
    
    h1 {
        @include heading;
    }   
   
    .heading {
        margin: 10%;
    }
    .pulsing-button {
        @include pulsing-button;
        a {
            text-decoration: none;
            font-size: 18px;
            color: black;
            font-weight: bold;
        }
    }
}