@import "../shared/mixins.scss" ;
.encounters-container {
    @include container-main;
    @include mars-background;

    h1 {
        @include heading;
    }   
    
    .heading {
        margin: 3%;
    }

    .encounter-list {
        width: 100%;
        overflow: scroll;

        ul {
            list-style: none;
        }
        li {
            margin: 1% 20% 0 0;
            padding: 10px;
            color: white;
            font-size: 18px;
        } 

    }

    footer {
        background-color: black;

        .button {
            @include button;
        }
    }
}